<header class='row'>
  <div class='col-sm-5 pull-left'>
    <h3>
      <%= t('CronJobs') %>
      <small><%= @current_namespace %></small>
    </h3>
  </div>
  <div class='col-sm-7 pull-right' style="margin-top: 20px; margin-bottom: 10px;">
    <% if @cron_jobs.size > 0 %>
      <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/all/delete" method="post" class="pull-right">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-danger" type="submit" name="delete" value="<%= t('DeleteAll') %>" data-confirm="<%= t('AreYouSureDeleteCronJobs') %>" />
      </form>
      <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/all/disable" method="post" class="pull-right">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-warn" type="submit" name="enque" value="<%= t('DisableAll') %>" />
      </form>
      <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/all/enable" method="post" class="pull-right">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-warn" type="submit" name="enque" value="<%= t('EnableAll') %>" />
      </form>
      <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/all/enque" method="post" class="pull-right">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-warn" type="submit" name="enque" value="<%= t('EnqueueAll') %>" data-confirm="<%= t('AreYouSureEnqueueCronJobs') %>" />
      </form>
    <% end %>
  </div>
</header>

<!-- Namespaces -->
<div class='row'>
  <div class="col-sm-12 summary_bar">
    <ul class="list-unstyled summary row">
      <% @namespaces.sort_by { |namespace| namespace[:name] } .each do |namespace| %>
        <li class="col-sm-1">
          <a href="<%= root_path %>cron/namespaces/<%= namespace[:name] %>">
            <span class="count"><%= namespace[:count] %></span>
            <span class="desc"><%= namespace[:name] %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Namespaces -->

<% if @cron_jobs.size > 0 %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <th><%= t('Status') %></th>
      <th><%= t('Name') %></th>
      <th><%= t('Cron string') %></th>
      <th><%= t('Last enqueued') %></th>
      <th width="180"><%= t('Actions')%></th>
    </thead>

    <tbody>
      <% @cron_jobs.sort{|a,b| a.sort_name <=> b.sort_name }.each_with_index do |job, index| %>
        <% style = "#{job.status == 'disabled' ? "background: #ecc; color: #585454;": ""}" %>
        <tr>
          <td style="<%= style %>"><%= t job.status %></td>
          <td style="<%= style %>">
            <a href="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>" title="<%= job.description %>">
              <b style="<%= style %>"><%= job.name %></b>
            </a>
            <hr style="margin:3px;border:0;">
            <small>
            <% if job.message and job.message.to_s.size > 100 %>
              <% if Gem::Version.new(Sidekiq::VERSION) >= Gem::Version.new("6.3.0") %>
                <button data-toggle="job_<%= index %>" class="btn btn-warn btn-xs"><%= t('ShowAll')%></button>
                <div class="toggle" id="job_<%= index %>" style="display: inline;"><%= job.message[0..100] + "... " %></div>
                <div class="toggle" id="job_<%= index %>_full" style="display: none;"><%= job.message %></div>
              <% else %>
                <button data-toggle="collapse" data-target=".worker_<%= index %>" class="btn btn-warn btn-xs"><%= t('ShowAll')%></button>
                <div class="toggle worker_<%= index %>" style="display: inline;"><%= job.message[0..100] + "... " %></div>
                <div class="toggle worker_<%= index %>" style="display: none;"><%= job.message %></div>
              <% end %>
            <% else %>
              <%= job.message %>
            <% end %>
            </small>
          </td>
          <td style="<%= style %>"><b><%= job.human_cron %><br/><small><%= job.cron.gsub(" ", "&nbsp;") %></small></b></td>
          <td style="<%= style %>"><%= job.last_enqueue_time ? relative_time(job.last_enqueue_time) : "-" %></td>
          <td style="<%= style %>">
            <% if job.status == 'enabled' %>
              <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>/enque" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-warn btn-xs pull-left' type="submit" name="enque" value="<%= t('EnqueueNow') %>" data-confirm="<%= t('AreYouSureEnqueueCronJob', :job => job.name) %>"/>
              </form>
              <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>/disable" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-warn btn-xs pull-left' type="submit" name="disable" value="<%= t('Disable') %>"/>
              </form>
            <% else %>
              <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>/enque" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-warn btn-xs pull-left' type="submit" name="enque" value="<%= t('EnqueueNow') %>"/>
              </form>
              <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>/enable" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-warn btn-xs pull-left' type="submit" name="enable" value="<%= t('Enable') %>"/>
              </form>
              <form action="<%= root_path %>cron/namespaces/<%= @current_namespace %>/jobs/<%= CGI.escape(job.name).gsub('+', '%20') %>/delete" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-xs btn-danger pull-left' type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSureDeleteCronJob', :job => job.name) %>"/>
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Pagination -->
  <% if @total_size > @per_page && @current_namespace != '*' %>
    <div>
      <ul class="pagination flip pull-right">
        <li class="<%= 'disabled' if @page == 1 %>">
          <a href="?page=1">&laquo;</a>
        </li>
        <% if @page > 1 %>
          <li>
            <a href="?page=<%= @page - 1 %>"><%= @page - 1 %></a>
          </li>
        <% end %>
        <li class="disabled">
          <a href="?page=<%= @page %>"><%= @page %></a>
        </li>
        <% if @total_size > @page * @per_page %>
          <li>
            <a href="?page=<%= @page + 1 %>"><%= @page + 1 %></a>
          </li>
        <% end %>
        <li class="<%= 'disabled' if @total_size <= @page * @per_page %>">
          <a href="?page=<%= (@total_size.to_f / @per_page).ceil %>">&raquo;</a>
        </li>
      </ul>
    </div>
  <% end %>
  <!-- Pagination -->
<% else %>
  <div class='alert alert-success'><%= t('NoCronJobsWereFound') %></div>
<% end %>
